*{
    margin: 0%;
    padding: 0%;
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
}

header{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    background:linear-gradient(black, white);
    color: white;
    
   
}
nav a{
    color: white;
    text-decoration: none;

}

img{
    max-width: 100%;
    display: block;
    
}



.grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    max-width: 900px;
    margin: auto;
    margin-top: 10%;
    grid-gap: 20px;
    
    
}

.grid > div{
 align-items: center;
 text-align: center;
 box-shadow: 1px 1px 5px black;
 padding: 10px;
 
}



.footer{
    background-color: rgba(0, 0, 0, 0.706);
    color: white;
    text-align: center;
   
}

h3{
    font-size: 15px;
    font-family: sans-serif;
    padding: 20px;
    
}

.video{
    display: grid;
    flex-wrap: wrap;
  
}


video{
    display: grid;
    max-width: 50%;
    display: block;
    margin-top: 20px;
    margin-left: 25%;
    padding: 20px;
   
}


.video div{
    display: grid;
    align-items: center;
    text-align: center;
    grid-gap: 20px
}

